<div id="container"><p id="naslov">Sell you property</p>
<form>
    <div id="field"><label>Your full name: </label><input type="text"></div>
    <div id="field"><label>Location: </label><input type="text"></div>
    <div id="field"><label>Type of property: </label><label>Flat</label><input type="radio" name="type"><label>Apartment</label><input type="radio" name="type"></div>
    <div id="field"><label>Square meters: </label><input type="number"></div>
    <div id="field"><label>E-mail: </label><input type="text"></div>
    <div id="field"><label>Everything you want to mention: </label><br><textarea name="" id="" cols="30" rows="10"></textarea></div>
</form>
<p>Thank tou for reaching to us, we will contact you</p></div>