
#page{
    width: 100vw;
    height: 100vh;
    
    
}
#zag{
    margin:0px;
    
}
#srch{
    margin:0px;
}
#part1{
    
    
    padding-left: 20px;
    padding-right: 20px;
}
#part1 p{
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
    padding: 15px;
}
#listings{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
}
#listings::-webkit-scrollbar {
    width: 5px;
}

#listings::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    
}

#listings::-webkit-scrollbar-track {
    background-color: transparent;
}
#part2{
    
    
    padding-left: 20px;
    padding-right: 20px;
}
#part2 p{
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
    padding: 15px;
}
