<div id="page">
  <app-zaglavie id="zag" (signinclicked)="signupshowfunction()"></app-zaglavie>
  <app-signform *ngIf="signupshow" (login)="trylogin($event)"></app-signform>
  <app-search id="srch"></app-search>
  <div id="part1">
    <p>Currently on sale</p>
    <div id="listings">
      <app-card *ngFor="let ned of Nedvizhnosti" [Nedvizhnost]="ned" (fav)="addtofav($event)"></app-card>
    
    </div>
  </div>
  <app-sellform id="sell"></app-sellform>
  <div id="part2">
    <p>Your favorites</p>
    <div id="listings">
      <app-card *ngFor="let ned of Nedvizhnostifav" [Nedvizhnost]="ned" (fav)="addtofav($event)"></app-card>
    
    </div>
  </div>
 
</div>