#linija{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin:0;
    
}
#linija img {
    width: 200px;
    position: relative;
    top: 50px;
}
#linija a{
    letter-spacing: 1px;
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
    text-decoration: none;
    color: black;
}

  

  