

body{
    margin:0;
    background-image: url('./assets/background.jpg');
    background-size:cover;
    background-attachment: fixed;
}

/* styles.css */

body, h1, h2, h3, p, div, 
ul, ol, li, figure, figcaption {
  margin: 0;
  padding: 0;
}
