#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/searchpic.jpeg);
    background-size: cover;
    height: 400px;
    margin: 0;
    
  }
  
  p, input {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 0.2rem;
    border: 0;
  }
  p{
    color: white;
    font-size: x-large;
  }